
*{
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

body._lock{
  overflow: hidden;
}

.container{
    max-width: 1170px;
    padding: 0 10px;
    margin: 0 auto;
}

a{
    color:inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}

header{
  background: #EEEFF1;

  position: fixed;
  z-index: 10;
  width: 100%;
  /* height: 110px; */
}


.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100px; */
}

.logo{
  z-index: 5
}
.menu__body{
    display: block;
}

.menu__list{
    list-style-type: none;
    display: flex;
    margin: 0;

}

.menu__item{
    margin: 042px;
}

.menu__link{
    text-decoration-line:none;
    color: #000;
    transition: all .3s;
}

.menu__link:hover{
    color: tomato;
}

.top{
    background: #EEEFF1;
}

.top__heading{
    display: flex;
}


.top__content{
    padding-top: 115px;
}

.header__title{
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    margin: 0px;
}

.header__text{
    max-width: 540px;
    margin: 60px 0;
}

.header__btn{
    padding: 16px 38px;
    background: #34547A;
    color:#FFFFFF;
    display: inline-block;
    text-transform: uppercase;;
    margin-bottom: 146px;
    letter-spacing: 0.1em;
    border: solid 1px #7c8defa3;
    transition: all .4s cubic-bezier(0, 0, 0.01, 0.79);
    border-radius: 27px;
    box-shadow: inset 0px 0px 39px 1px #859df099, 0px 0px 9px 4px #859df099;
}

.header__btn:hover{
  background:#FFFFFF ;
  color:#34547A;
  border: solid 1px #93c0ec  ;
  box-shadow: inset 0px 0px 15px 5px #93c0ec,0px 0px 20px 9px #93c0ec;
}



.top__img{
    padding-top: 136px;
    margin-right: 143px;
    margin-bottom: 188px;
}

.about__me{
    text-align:center;
}

.about__me-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__me-title{
    padding-top: 119px;
    padding-bottom: 50px;
    color: #000;
    margin: 0;
}


.about__me-text{
    max-width: 540px;
    margin: 0px 0px 100px ;
    
}

.projects{
    background:#34547A;
}

.projects__links{
    margin-top: 100px;
}

.projects__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
}



.projects__img-links{
    display: flex;
    align-items: flex-start;
    color:#FFF;
}

.projects__name{
    margin:130px 18px 103px -111px;
    font-weight: 400;
}

.projects__num{
    margin: 103px 84px 10px 20px;
    font-weight: 400;
}



.skills__content{
    display: flex;

}

.skills__content-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 50px;
    border-bottom: 4px solid #C4C4C4;
}

.skills__content-title::after{
    content:'';
    position:absolute;
    width:350px;
    height: 4px;
    background: #3454F2;
    margin-top: 37px;
    margin-left: -188px;
}



.skills__text{    
    flex: auto;
    margin: 204px 75px 192px 75px;
    padding: 0;
}



.skills__content-img{
    margin-top: 102px;
}

.skills__img{
    width: 444px;
    height: 360px;
}

.working{
  background: #EEEFF1;
}


  /* text-align: -webkit-center;
  padding-bottom: 100px; */


.working__content-p{
  text-align: -webkit-center;
}
.working__content-title{
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 50px;
  margin-top: 0px;
  padding-top: 100px;

}

.working__content-text{
  max-width: 540px;
  margin-bottom: 57px;
  margin-top: 0px;
}

.working__popup-video{
    margin: 0px 0px 71% 0px;
    text-align: -webkit-center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;

}

.working__popup-video a{
  object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.working__body{
  display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
.video__btn-img{
  left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: -50px;
    margin-top: -50px;
 /*  margin: 250px 505px; */
}

iframe{
  width: 100%;
  height: 100%;
}

.title{
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  padding-top:100px;
  margin-bottom: 50px;
  margin-top: 0;
  color: #000000;
}

.portfolio__inner{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(390px,1fr));
  padding: 0px;
  margin-bottom: 72px;
  grid-gap:4px ;

}

.portfolio__item{
  display: flex;
  justify-content: center;
  align-items:center;
  position: relative;
  border: solid 1px #C4C4C4;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
  padding: 35% 0% 35% 0%;
  /* aspect-ratio: 1 / 1; */
  z-index: 1;
}

.portfolio__item::after{
  content:'';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
}
.portfolio__item:hover::after{
  opacity: 1;
}
.portfolio__item:hover .portfolio__link{
  opacity: 1;
}

.portfolio__link{
  z-index: 2;
  opacity: 0;
  padding: 70px;
  transition: all 0.3s; 
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}



.portfolio__inner-2{
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(255px,1fr));
  grid-gap:3px;
  place-items: center;
}

.portfolio__item-2{
  width: 255px;
  height: 120px;
  display: flex;
  justify-content: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}


.portfolio__link-min{
  width: 100%;
}





.feedback{
  background: #EEEFF1;
}

.feedback__title{
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
  padding-top: 100px;
  margin-bottom: 50px;
  margin-top: 0;
}

.feedback__form{
  text-align: -webkit-center;
}


.feedback__text{
  text-align: center;
  max-width: 540px;
  margin: 0;
  margin-bottom: 65px;
}


.feedback__input{
  text-align: center;
}

.feedback__input-name{
  width: 255px;
  height: 50px;
  background: #fff;
  border: none;
  margin-bottom: 20px;
  padding: 0px 20px 0px 20px;
  font-size: 14px;
  line-height: 23px;
  color: #5F5D5D;
  box-shadow:inset 0px 0px 5px 0px #aeaeae99, 0px 0px 9px 0px #94949499;
  border-radius:13px;
  transition: all 0.1s;
}
.feedback__input-name:focus-visible{
  outline: none;
  box-shadow: inset 0px 0px 1px 1px rgb(79 226 21),  0px 0px 9px 0px #94949499;
}


.feedback__input-email{
  width: 255px;
  height: 50px;
  background: #fff;
  border: none;
  margin-bottom: 20px;
  margin-left: 26px;
  padding: 0px 20px 0px 20px;
  font-size: 14px;
  line-height: 23px;
  color: #5F5D5D;
  box-shadow: inset 0px 0px 5px 0px #aeaeae99, 0px 0px 9px 0px #94949499;
  border-radius:13px;
  transition: all 0.1s;
}
.feedback__input-email:invalid{
  box-shadow: inset 0px 0px 1px 1.3px #f51818, 0px 0px 9px 0px #94949499;
  border: none;
  
}
.feedback__input-email:invalid:focus-visible{
  outline: none;
  box-shadow: inset 0px 0px 1px 1.3px #f51818, 0px 0px 9px 0px #94949499;
 
}
.feedback__input-email:focus-visible{
  outline: none;
  box-shadow: inset 0px 0px 1px 1px rgb(79 226 21),  0px 0px 9px 0px #94949499;
  
}
.feedback__input-2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__input-message{
  width: 540px;
 min-height: 185px; 
  background: #fff;
  border: none;
  font-size: 14px;
  line-height: 23px;
  color: #5F5D5D;
  padding: 17px 17px 17px 20px;
  margin-bottom: 50px;
  box-shadow: inset 0px 0px 14px 1px #aeaeae99, 0px 0px 9px 0px #94949499;
  border-radius:22px;
  transition: all 0.1s;
  overflow: hidden;
  resize: none;
 
}
.feedback__input-message:focus-visible{
  outline: none;
  box-shadow: inset 0px 0px 1px 1px rgb(79 226 21),  0px 0px 9px 0px #94949499;
}

.feedback__btn{
  width: 190px;
  height: 55px;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  background: #34547A;
  cursor: pointer;
  border: solid 1px #7c8defa3;
  transition: all .4s cubic-bezier(0, 0, 0.01, 0.79);
  margin-bottom: 100px;
  border-radius: 25px;
  box-shadow: inset 0px 0px 39px 1px #859df099, 0px 0px 9px 4px #859df099;
}

.feedback__btn:hover{
  color: #34547A;
  background: #FFFFFF;
  border: solid 1px #93c0ec;
  box-shadow: inset 0px 0px 15px 5px #93c0ec,0px 0px 20px 9px #93c0ec;
}


.footer{
  background: #34547A;
}

.footer__social{
  width: 175px;
  height: 40px;
  margin-top: 65px;
  margin-bottom: 64px;
  margin-right: 80px;
  display: flex;
}


.footer__content{
  display: flex;
  justify-content: space-between;
}

.footer__social-item{
  margin-right: 22px;
}

.footer__title{
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  margin-top: 50px;
  margin-bottom: 20px;
}

.footer__rights{
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 50px;

}


.logo_shadow{
  border-radius: 50%;
  width: 55px;
  box-shadow: inset 0px 0px 3px 3px #56899e,0px 0px 7px 4px #56899e ;
  transition: all .5s cubic-bezier(0, 0, 0.01, 0.79);
}
.logo_shadow:hover{
  box-shadow: inset 0px 0px 3px 3px #83cdec,0px 0px 7px 4px #83cdec; 
}

/* percent item */



.percent__items{
    display: flex;
    justify-content: space-between;
  }
  
  .percent__item {
    width: 20%;
  }
  
  .percent__item svg {
    display: block;
    width: 100%;
    margin: auto;
  }
  
  .percent__item div {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    width: 100%;
  }
  .percent__item._anim-items._anim-active svg .c1{
    stroke: #30bae7;
    stroke-dasharray: 0 1383;
    animation: c1 1.5s linear forwards;
  }
  circle {
    transform-origin: center;
    transform-box: fill-box;
    transform: rotate(-90deg);
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 70px;
    fill: none;
  }
  
  text {
    font-weight: 100;
    font-family: sans-serif;
    font-size: 80px;
  }
  
  .sc {
    stroke: #dfe8ed;
  }
  
  .percent__item._anim-items._anim-active svg .c1{
    stroke: #30bae7;
    stroke-dasharray: 0 1383;
    animation: c1 1.5s linear forwards;
  }
  
  .percent__item._anim-items._anim-active svg .c2 {
    stroke: #d74680;
    stroke-dasharray: 0 1383;
    animation: c2 3s linear forwards;
  }
  
  .percent__item._anim-items._anim-active svg .c3 {
    stroke: #15c7a8;
    stroke-dasharray: 0 1383;
    animation: c3 4s linear forwards;
  }
  
  .percent__item._anim-items._anim-active svg .c4 {
    stroke: #eb7d4b;
    stroke-dasharray: 0 1383;
    animation: c4 6s linear forwards;
  }
  
  @keyframes c1 {
    0% {
      stroke-dasharray: 0 1383;
    }
    100% {
      stroke-dasharray: 300 1383;
    }
  }
  
  @keyframes c2 {
    0% {
      stroke-dasharray: 0 1383;
    }
    100% {
      stroke-dasharray: 560 1383;
    }
  }
  
  @keyframes c3 {
    0% {
      stroke-dasharray: 0 1383;
    }
    100% {
      stroke-dasharray: 850 1383;
    }
  }
  
  @keyframes c4 {
    0% {
      stroke-dasharray: 0 1383;
    }
    100% {
      stroke-dasharray: 1010 1383;
    }
  }

  

  @media (max-width:1200px ){
    .portfolio__inner{
       grid-template-columns: repeat(auto-fill,minmax(305px,1fr));
    }

    .portfolio__inner-2{
      grid-template-columns: repeat(auto-fill,minmax(245px,1fr));
    }
    
    .portfolio__item-2{
      width: 245px;
      height: 110px;
    }
  }


  @media (max-width:1030px ){
    .projects__item{
      margin: 0px 161px 0px 161px;
    }
    .projects__links{
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .projects__num{
      margin: 43px 84px 10px 20px;
    }
    .projects__name{
      margin: 70px 18px 0px -111px;

    }
    .portfolio__inner-2{
      grid-template-columns: repeat(auto-fill,minmax(225px,1fr));
    }
    
    .portfolio__item-2{
      width: 225px;
      height: 90px;
    }

  }



@media (max-width:960px ){
  /* .menu__list{
    display: none;
  } */
.logo{
  margin-top: 8px;
}

.top__img{
  margin-right: 60px;
}
.projects__item{
  margin: 0px 126px 0px 126px;
}
.menu__item {
  margin: 33px;
}
.portfolio__inner-2{
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}

.portfolio__item-2{
  width: 200px;
  height: 80px;
}
}



@media (max-width:860px ){
.top__heading{
  flex-direction: column;
  flex-wrap: wrap;
}

.top__content{
  padding-top: 0px;
  text-align: -webkit-center;
}

.top__img{
  margin-bottom: 100px;
  margin-right: 0px;
}
.projects__item{
  margin: 0px 75px 0px 75px;
}
.percent__item{
  font-size: 15px;
}

.menu__item {
  margin: 23px;
}
.portfolio__inner-2{
  grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
}

.portfolio__item-2{
  width: 180px;
  height: 70px;
}

.skills__text {
  flex: auto;
  margin: 70px 15px 81px 15px;
  padding: 0;

}

}

@media (max-width: 770px) {
  .menu__icon{
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
     left: 0;
     position: absolute;
     height: 10%;
     width: 100%;
     transition: all 0.3s ease 0s;
     background-color: #000;

  }
  .menu__icon::before,
  .menu__icon::after {
      content: "";
  }
  .menu__icon::before {
     top: 0;
  }
  .menu__icon::after {
     bottom: 0;
  }
  .menu__icon span{
      top: 50%;
      transform: scale(1) translate(0px,-50%);
  }

  .menu__icon._active span{
     transform: scale(0) translate(0px,-50%);
  }

  .menu__icon._active::before{
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after{
     top: 50%;
     transform: rotate(45deg) translate(0px, -50%);
 }
  .menu__body{
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgb(238 239 241 / 90%);
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
  }
  .menu__body._active{
     left: 0;
  }
  .menu__body::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 53px;
      z-index: 2;
      background-color: #EEEFF1;
  }

  .menu__list > li {
      flex-wrap: wrap;
      margin: 0px 0px 30px 0px;
  }
  .menu__list > li :last-child{
      margin-bottom: 0;
  }
 /*  .menu__list > li._active .menu__sub-list{
     display: block;
  } */

  .menu__list{
    display: block;
  }

  .menu__link{
      font-size: 24px;
  }

  .portfolio__inner-2{
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
  }
  
  .portfolio__item-2{
    width: 170px;
    height: 65px;
  }
 
}


@media (max-width:705px ){
  .projects__item{
    margin: 0px;
    padding: 0px;
  }
  .skills__text {
    margin: 140px 10px 150px 10px;
  }
  .percent__item{
    font-size: 14px;
  }
  .portfolio__inner-2{
    margin: 0;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
    grid-gap:3px;
    place-items: center;
  }
  
  .portfolio__item-2{
    width: 185px;
    height: 100px;
    margin: 0px 0px 40px 0px;
  }
  .feedback__title{
    padding-top: 50px;
  }
  .feedback__btn{
    margin-bottom: 50px;
  }
  .title{
    padding-top: 50px;
  }
}

@media (max-width:560px ){
  .feedback__input-message{
    width: 514px;
  }
  .feedback__input-email{
    margin-left: 0px
  }
  .working__content-title{
    padding-top: 50px;
  }

}


@media (max-width:535px ){
  .feedback__input-message{
    width: 255px;
    padding: 17px 17px 17px 15px;
  }
  .feedback__input-name{
    padding: 0px 15px 0px 15px;
  }
  .feedback__input-email{
    padding: 0px 15px 0px 15px;
  }
 

}

@media (max-width:440px ){

.header__title{
  font-size: 44px;
  line-height: 55px;
}

.top__img{
  width: 75%;
  align-self: center;
  margin-bottom: 35px;
  padding-top: 70px;
}

.header__btn{
  margin-bottom: 45px;
}

.about__me-title{
  padding-top: 45px;
  padding-bottom:45px ;
}
.skills__text {
  margin: 0px 0px 30px 0px;
}
.percent__item{
  font-size: 13px;
}
.skills__content-title::after{
  width: 240px;
}

.footer__title{
   margin-top: 25px;
}
.footer__rights{
  margin-bottom: 35px;
}
.video__btn-img {
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;

}
.footer__content{
  display: flex;
  flex-direction: column;
}
.footer__social{
  width: 60px;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 51px;
  margin-right: 42px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
}

.footer__social-item{
  margin-bottom: 8px;
  padding-left: 22px;
}


.portfolio__item-2 {
  width: 185px;
  height: 100px;

}
.header__text {
  max-width: 540px;
  margin: 40px 0;
}
.about__me-text {
  margin: 0px 0px 45px;
}
}


