

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing:inherit;
}

*{
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #013A4C;
    background-color: #FFFFFF;
}

body._lock{
  overflow: hidden;
}

.container{
    max-width: 1172px;
    padding: 0 10px;
    margin: 0 auto;

}
.max__section-container {
    max-width: 2200px;
    margin: 0 auto;
   
}
@media screen and (min-width: 900px){
    ::-webkit-scrollbar{
        width:10px;
    }
    ::-webkit-scrollbar-track{
        background: linear-gradient(to bottom, #F2DCE4, #ffffff );
    }
    ::-webkit-scrollbar-thumb{
        background: linear-gradient(to bottom,#f8ccdc,#f7bdd2 );
    }
    ::-webkit-scrollbar-thumb:hover{
        background: linear-gradient(to bottom, #d35986,#9c2b55 );  
    }
}
a{
    color:inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}

/* для анимации при скроле */
._anim-show {
    transform: translate(0px, 90%);
    opacity: 0;
    transition: all 0.8s;
}
._anim-show._active,
._active ._anim-show{
    opacity: 1;
    transform: translate(0px, 0px);
}

._anim-show-1 {
    transform: translate(0px, 30%);
    opacity: 0;
    transition: all 0.6s;
}
._anim-show-1._active,
._active ._anim-show-1{
    opacity: 1;
    transform: translate(0px, 0px);
}
/* ------------------------------------ */


.header {
    position: fixed;
    height: 80px;
    display: flex;
    left: 0%;
    right: 0%;
    top: 0px;
    z-index: 10;
    width: 100%;
    max-width: 2200px;
    margin: 0 auto;
    justify-content: space-between;
    transition: all 0.4s;
    padding: 0px 48px;
}
.header:hover{
    background:#FFFFFF;
    box-shadow: 0px 0px 10px rgba(1, 58, 76, 0.2);
}
.header.scroll{
    background:#FFFFFF;
    box-shadow: 0px 0px 10px rgba(1, 58, 76, 0.2);
    height: 70px;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    margin: 23px 0px 26px 0px;
    z-index: 10;
}

.logo__link {
    width: 100%;
    height: 100%;
}
.menu__body {
    display: block;
}
.menu__list {
    list-style-type: none;
    display: flex;
    margin: 0;
}
.menu__item {
    padding:28px 7px;
}
.menu__link{
    color: #013A4C;
    transition: all 0.3s ease;
    border-radius: 7px;
    font-size: 16px;
    line-height: 20px;
}
.menu__link:hover {
    color: rgb(156, 14, 14);
    box-shadow: inset 0px 0px 38px 0px #ffbdbd54, 0px 0px 9px 1px #ff937244;
    
}
.header__link-demo {
    background: #FFD063;
    border: 1px solid #FFD063;
    box-sizing: border-box;
    border-radius: 4px;
    width: 114px;
    height: 40px;
    margin: 10px;
    display: flex;
    place-content: center;
    align-items: center;
    transition: all 0.6s ease;
    z-index: 10;
    margin-right: 0;
}
.header__link-demo:hover {
    box-shadow:inset 1px 1px 40px 10px #FFD063, 0px 0px 2px 0px #FFD063; 
    background: #ad0b77;
    color: #FFFFFF;
}
.header__link-demo-mobile{
    background: #FFD063;
    border: 1px solid #FFD063;
    box-sizing: border-box;
    border-radius: 4px;
    width: 198px;
    height: 40px;
    margin: 10px;
    display: flex;
    place-content: center;
    align-items: center;
    transition: all 0.6s ease;
    display: none;
    z-index: 10px;
}
.header__link-demo-mobile:hover {
    box-shadow:inset 1px 1px 40px 10px #FFD063, 0px 0px 2px 0px #FFD063; 
    background: #ad0b77;
    color: #FFFFFF;
}

.header__link-login-mobile {
    width: 198px;
    height: 40px;
    background: transparent;
    border: 1px solid #346170;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 10px;
    display: flex;
    place-content: center;
    align-items: center;
    transition: all 0.6s ease;
    display: none;
    z-index: 10;
}
.header__link-login-mobile:hover{
    background: #346170;
    color: #FFFFFF;
    box-shadow:inset 1px 1px 40px 10px #346170, 0px 0px 3px 0px #3bb1f5; 
}


.link-demo {
    font-size: 14px;
    line-height: 18px;
}
.header__link-login {
    width: 75px;
    height: 40px;
    background: transparent;
    border: 1px solid #346170;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 10px;
    display: flex;
    place-content: center;
    align-items: center;
    transition: all 0.6s ease;
    z-index: 10;
}
.link-login {
    font-size: 13px;
    line-height: 18px;
}
.header__link-login:hover{
    background: #346170;
    color: #FFFFFF;
    box-shadow:inset 1px 1px 40px 10px #346170, 0px 0px 3px 0px #3bb1f5; 
}
.top {
    max-width: 2200px;
    height: 970px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
@media (min-width:900px) {
    .top{
        background-image: url('/site2/images/bg/top-bg.jpg')
    }
}
.top__heading{
    padding: 0 14px;
}
.top__content {
    padding-top: 210px;
    display: flex;
    flex-direction: column;
    
}

.header__title {
    width: 12ch;
    font-family :monospace, sans-serif;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    font-size: 78px;
    line-height: 78px;
    color: #013A4C;
    margin-bottom:31px;
    border-right: 4px solid #FFD063;
    animation:flashing-border .9s 3.2s step-end infinite  ,printed-text 3.1s steps(12); 
}

@keyframes flashing-border  {
    
    0%{
        border-color: #FFD063;
        
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: #FFD063;
    }
    
}
@keyframes printed-text {
    from{
        width: 0;
    }
    
}
.header__text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #013A4C;
    max-width: 491px;
    margin-bottom:31px;
}
.top__btn{
    display: flex;
}
.top__btn-1 {
    width: 176px;
    font-size: 16px;
    line-height: 20px;
    background: #FFD063;
    border: 1px solid #FFD063;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 0px;
    text-align: center;
    margin-right: 16px;
    transition: all 0.6s ease;
}
.top__btn-1:hover {
    box-shadow:inset 1px 1px 40px 10px #FFD063, 0px 0px 2px 0px #FFD063; 
    background: #ad0b77;
    color: #FFFFFF;
}
.top__btn-2 {
    width: 130px;
    background: #013A4C;
    border: 1px solid #013A4C;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding:15px 0px;
    transition: all 0.6s ease;
}

.top__btn-2:hover{
    box-shadow:inset 1px 1px 40px 10px #FFFFFF, 0px 0px 3px 0px #3bb1f5; 
    background: #FFFFFF;
    color: #013A4C;
}
.companies{
    background: #013A4C;
    max-width: 2200px;
    margin: 0 auto;
}

.companies__logo {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #3b6775;
    margin: 0 10px;
}
.companies__title{
    max-width: 528px;
    padding-top: 64px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    margin: 0;
    place-self: center;
}
.companies__inner {
    display: flex;
    place-content: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
    margin: 0;
    margin-top: 35px;
}

.companies__item {
    height: 66px;
    width: 95px;
    background-repeat: no-repeat;
    margin-right: 32px;
    background-position: center;
    background-size: contain;
}
.companies__item:last-child{
    margin-right: 0px;
}
.companies__link {
    display: block;
    width: 100%;
    height: 100%;
}


.contracts__content {
    display: flex;
    border-bottom: solid 1px #3b6775;
    padding-bottom: 30px;
    justify-content: center;
    flex-wrap: wrap-reverse;
    position: relative;
}
.contracts__inner {
    max-width: 695px;
}

.contracts__title-1 {
    max-width: 402px;
    margin-top: 19px;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 0.4px;
    color: #F2DCE4;
    margin-bottom: 38px;
}
.contracts__text {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
    max-width: 528px;
    color: #FFFFFF;
    margin-bottom: 34px;
}
.contracts__btn {
    background: #FFD063;
    border: 1px solid #FFD063;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    padding: 14px 21px 14px 21px;
    text-align: center;
    color: #013A4C;
    transition: all 0.6s ease;
}
.contracts__btn:hover {
    box-shadow:inset 1px 1px 40px 10px #FFD063, 0px 0px 2px 0px #FFD063; 
    background: #ad0b77;
    color: #FFFFFF;
}

.smart__contracts-img {
}
.contracts__img {
    width: 100%;
}



.wrapper {
    max-width: 1152px;
    margin: 0 auto;
    padding-bottom: 128px;
    margin-top: 60px;
}
.tabs{
    margin: 128px 144px;
    height:600px;
    background: #D3E8F4;
    border-radius:8px;
    margin: 0 auto;
    border-bottom: 1px solid #94b4c2;
}



.tabs-trigger{
    padding: 0px 96px 0px 96px;
    border-bottom: solid 1px #94B4C2;
    
}
.tabs-triggers {
    display: flex;

    /* overflow-x: scroll */
    
}
.tabs-triggers__item::before{
    content: '';
    position: absolute;
    height: 2px;
    background: #013A4C;
    width: 57px;
    transform: translate(-150px, 84px);
    opacity: 0;
}
.tabs-triggers__item--active::before{
    content: '';
    position: absolute;
    height: 2px;
    background: #013A4C;
    width: 57px;
    transform: translate(0px, 81px);
    transition: all 0.6s;
    opacity: 1;
}


.tabs-triggers__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
    border-radius: 17px;
    margin: 29px;
    height: 64px;
    padding-top: 10px;
    background-position: top;
    display: -webkit-inline-box;
    line-height: 83px;
    -webkit-box-pack: center;
    background-repeat: no-repeat;
}

/* .tabs-triggers__item--active {
    background-color: #00c3d5;
    
} */

.tabs-content {
}
.tabs-content__item {
    padding: 3rem 6rem;
    display: table-column;
    opacity: 0;
    transition: all 1s;
    transform: translateY(25px);
   
}
.tabs-content__item--active {
    display: flex;
    transform: translateY(0px);
    opacity: 1;

}
.tabs__title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #013A4C;
    max-width: 351px;
    padding: 0px 0px 36px 0px;
    margin: 0;
  
}
.tabs__text {
    font-size: 21px;
    line-height: 28px;
    color: #013A4C;
    margin: 0;
    padding-left: 20px;
}
.tabs__under-title{
    font-size: 14px;
    line-height: 20px;
    color: #013A4C;
}

.tabs__under-title::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image:url(/site2/images/icon/check.svg);
    background-repeat:no-repeat;
    margin: 0px 0px 0px -22px;
}

.tabs__btn{
    background: #D3E8F4;
    border: 1px solid #346170;
    padding: 11px 17px;
    margin-left: 96px;
    margin-bottom: 78px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #013A4C;
    transition: all 0.6s;
}
.tabs__btn:hover{
    box-shadow:inset 1px 1px 40px 10px #6dadd1, 0px 0px 3px 0px #3bb1f5; 
    background: #013A4C;
    color:#FFFFFF;
}



.tabs__bg{
   /*  background-image: url(/images/tabs.png); */
   max-width: 420px;
   max-height: 420px;
    margin-top: 60px;
    /* background-size:contain; */
    /* background-repeat: no-repeat;  */
    right: 0;
    bottom: 0;
    margin: 0px -96px 0px 0px ;
}

.tabs__bg img{
    max-width: 100%;
    max-height: 100%;
}

.content__item-tabs ul{
    margin: 0;
    padding-bottom: 44px;
}
.content__item-tabs{
  /*   width: -webkit-fill-available; */
    flex: 0 0 66.3%;
    padding: 0;
}


.pressplay {
   /*  width: 100%; */
   
   max-width: 2200px;
   min-height: 100%;
   overflow: hidden;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   margin: 0 auto;
   margin-bottom: -6px;
}




.pressplay__body {
}
.pressplay__video {
    position: relative;
    width: 100%;

}
.video__btn {

}
.video__wrapper{
   

}
.play__button {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index:9;
    cursor: pointer;
    transition: all .5s cubic-bezier(0, 0, 0.01, 0.79);
}
.play__button:hover{
    box-shadow:
    1px -0px rgb(231,95,136), 1px -1px rgb(212,33,128),
    2px -1px rgb(230,94,135), 2px -2px rgb(211,32,127),
    3px -2px rgb(229,93,134), 3px -3px rgb(210,31,126),
  
    -1px 0px rgb(198,120,78), -1px 1px rgb(238,169,23),
  -2px 1px rgb(197,119,77), -2px 2px rgb(237,168,22),
  -3px 2px rgb(196,118,76), -3px 3px rgb(236,167,21),

  1px 0px rgb(198,120,78), 1px 1px rgb(238,169,23),
  2px 1px rgb(197,119,77), 2px 2px rgb(237,168,22),
  3px 2px rgb(196,118,76), 3px 3px rgb(236,167,21),

  -1px -0px rgb(198,120,78), -1px -1px rgb(238,169,23),
  -2px -1px rgb(197,119,77), -2px -2px rgb(237,168,22),
  -3px -2px rgb(196,118,76), -3px -3px rgb(236,167,21);

}


.frame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}
.play__img{
    width: 100%;
}



.complete {
    background-image: url(/site2/images/bg/complete-mobile.png);
    width: 100%;
    height: 2432px;
    max-width: 2200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    overflow: hidden;
}
@media (min-width:769px) {
    .complete{
        background-image: url(/site2/images/bg/complete.jpg);
    }
}

.complete__title {
    margin: 0 auto;
    max-width: 830px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #013A4C;
    padding-top: 122px;
}
.complete__content {
    margin-top: 126px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.complete__item {
    max-width: 570px;
    margin: 20px;
    margin-bottom: 125px;
    opacity: 0;
    transform: translate(120%,0px);
    transition: all 1s;
    
}
.complete__item._active{
    transform: translate(0px,0px);
    opacity: 1;
}
.complete__item-l{
    max-width: 570px;
    margin: 20px;
    margin-bottom: 125px;
    align-self: flex-start;
    opacity: 0;
    transform: translate(-120%,0px);
    transition: all 1s;
    
}
.complete__item-l._active{
   transform: translate(0px,0px);
   opacity: 1;


}
.complete__img {
}
.complete__title-2 {
  
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    line-height: 54px;
    letter-spacing: 0.4px;
    color: #013A4C;
    margin: 15px 0px 34px 0px ;
}
.copmlete__text {
    font-size: 18px;
    line-height: 24px;
    color: #013A4C;
    max-width: 520px;
    margin: 0px 0px 17px 0px ;
}
.complete-btn {
    background: #013A4C;
    border: 1px solid #013A4C;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 11px 17px;
    transition: all .5s cubic-bezier(0, 0, 0.01, 0.79);
}
.complete-btn:hover{
    background: white;
    color: #346170;
    box-shadow: inset 1px 1px 40px 10px #f2dde4, 0px 0px 3px 0px #3bb1f5;

}



.believe {
    background-image: url(/site2/images/bg/believe-mobile.jpg);
    max-width: 2200px;
    height: 992px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
@media (min-width:769px) {
    .believe{
        background-image: url(/site2/images/bg/believe.jpg);
    }
}
.container {
}
.believe__content {
    width: fit-content;
    padding: 295px 0px 0px 0px;
    opacity: 0;
    transform: translateX(-200px);
    transition: all 0.7s;
}
.believe__content._active{
    opacity: 1;
    transform: translateX(0);

}
.believe__title {
    max-width: 624px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 73px;
    line-height: 78px;
    letter-spacing: 2px;
    color: #F2DCE4;
    margin-bottom: 31px;
}
.believe__text {
    max-width: 470px;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.believe__btn {
    background: #FFD063;
    border: 1px solid #FFD063;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #013A4C;
    padding: 11px 17px;
    transition: all .5s cubic-bezier(0, 0, 0.01, 0.79);
}

.believe__btn:hover{
    box-shadow:inset 1px 1px 40px 10px #FFD063, 0px 0px 2px 0px #FFD063; 
    background: #ad0b77;
    color: #FFFFFF;
}



.section__slider {
    padding: 128px 0px;
   
}
.slider__container{
    margin: auto 5px;
    padding: 5px;
}
.slider__title {
    max-width: 687px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.4px;
    color: #013A4C;
    opacity: 0;
    transform: translate(500px, 0px);
    transition: all .7s;
}

.slider__title._active{
    opacity: 1;
    transform: translate(0px, 0px);
    
}
.slider {
    display: flex;
    min-width: 0;
    /*  opacity: 0;
    overflow: hidden;
     transform: translateY(-140px);
     transition: all 1s;  */
}
.slider__item {
    min-width: 0;
    width: 375px;
    min-height: 446px;
    background: #FFFFFF;
    border: 1px solid #D6DFE2;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5px;
    margin-right: 8px;


    transform: translate(90%,0px);
    transition: all .3s;
    position: relative;
}

.slider__item._active{
    transform: translate(0px,0px);
}
.slider__item._active:nth-child(1){
    transition: transform 0.7s ease 0s;
}
.slider__item._active:nth-child(2){
    transition: transform 0.7s ease 0.2s;
}
.slider__item._active:nth-child(3){
    transition: transform  0.7s ease 0.4s;
}
.slider__item._active:nth-child(4){
    transition: transform  0.7s ease 0.6s;
}
.slider__item._active:nth-child(5){
    transition: transform  0.7s ease 0.8s;
}

.slider__item:hover{
    border: 1px solid #ffffff;
    transform: scale(1.01);
    box-shadow:
            1px -0px rgb(231,95,136), 1px -1px rgb(212,33,128),
            2px -1px rgb(230,94,135), 2px -2px rgb(211,32,127),
            3px -2px rgb(229,93,134), 3px -3px rgb(210,31,126),
          
            -1px 0px rgb(198,120,78), -1px 1px rgb(238,169,23),
          -2px 1px rgb(197,119,77), -2px 2px rgb(237,168,22),
          -3px 2px rgb(196,118,76), -3px 3px rgb(236,167,21),
        
          1px 0px rgb(198,120,78), 1px 1px rgb(238,169,23),
          2px 1px rgb(197,119,77), 2px 2px rgb(237,168,22),
          3px 2px rgb(196,118,76), 3px 3px rgb(236,167,21),
        
          -1px -0px rgb(198,120,78), -1px -1px rgb(238,169,23),
          -2px -1px rgb(197,119,77), -2px -2px rgb(237,168,22),
          -3px -2px rgb(196,118,76), -3px -3px rgb(236,167,21);
      
           /*  box-shadow: inset 0px 0px 6px 0px #f31cab91, 0px 0px 7px 6px #ff53b666;; */
          transition: .4s ; 
            /* transition-delay: 2s; */
         
}
.slider__item:hover{
    transition:all 0.4s ease 0s;
}
.slider__item:hover:nth-child(2){
    transition:all 0.4s ease 0s;
}
.slider__item:hover:nth-child(3){
    transition:all  0.4s ease 0s;
}
.slider__item:hover:nth-child(4){
    transition:all  0.4s ease 0s;
}
.slider__item:hover:nth-child(5){
    transition:all  0.4s ease 0s;
}



















/*  .slider._active{
    opacity: 1;
    transform: translateY(0);
    
}  */
.section__slider {
    height: 1000px;
}

.slider__content{
    padding: 66px 33px 66px 33px ;
    position: relative;
    transition: all 0.3s;
    border-radius: 8px;

}


.slider__content-1 {
    /* padding: 66px 33px 99px 33px ; */
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 99px;
}
.slider__text {
    min-width: 0;
    font-size: 18px;
    line-height: 24px;
    color: #013A4C;
}
.slider__span {
    min-width: 0;
    font-size: 14px;
    line-height: 18px;
    color: #89285B;
    max-width: 307px;
}
.slider__content-2 {
    min-width: 0;
    display: flex;
    align-items: center;
    /* padding: 0px 130px 65px 33px ; */

}

.user__avater {

}
.users__img {
    margin-right: 16px;
}
.user__meta {
}
.user__name {
    font-size: 14px;
    line-height: 20px;
    color: #013A4C;
    margin: 0;
}
.user__designation {
    font-size: 14px;
    line-height: 20px;
    color: #013A4C;
    margin: 0;
}
.user__company {
    font-size: 14px;
    line-height: 20px;
    color: #013A4C;
    margin: 0;
}

.slider__link{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}




.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
    padding: 5px;
}
/* Лента слайдов */
.slick-track{
	display: flex;
    align-items: flex-start;

}

/* Слайд */
.slick-slide{ 
}
/* Слайд активный */
.slick-slide.slick-active{
    
}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slider {
    position: relative;
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}


.slick__dots .slick-dots {
    display: flex;
    width: 651px;
}
.slick-dots li{
 
}

.slick-dots button{
    font-size: 0;
    width: 100px;
    height: 10px;
 /*    background-color:rgb(190, 25, 25); */
    background-color:transparent;
    color: rgb(255, 255, 255);
    transition: all 1s;
    border:white;
    border-radius:20px;

}
.slick__dots{
   
   
}
.slick-dots li.slick-active button {
    /* background-color:transparent;
    border: 1px solid rgb(138, 57, 57); */
    background-color:rgb(190, 25, 25);
}

.slick__button{
    display: flex;
    float: right;
}
.slick__button-slid{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -20px;
}

.slick-prev.slick-arrow {
    /*  background-color:rgb(5, 1, 1);
    right: 0; */
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    padding: 1.5rem;
    border: 1px solid #99b0b7;
    border-radius: 50%;
    font-size: 0px;
    margin: 5px;
    background-color:#FFFFFF;
    cursor: pointer;
    background-image:url(/site2/images/icon/arrow-left.svg);
     background-repeat: no-repeat;
     background-position-x: center;
     background-position-y: center;
    
     transition: all .5s cubic-bezier(0, 0, 0.01, 0.79);
}
.slick-prev.slick-arrow:hover{
    
    box-shadow:
    1px -0px rgb(231,95,136), 1px -1px rgb(212,33,128),
    2px -1px rgb(230,94,135), 2px -2px rgb(211,32,127),
    3px -2px rgb(229,93,134), 3px -3px rgb(210,31,126),
  
    -1px 0px rgb(198,120,78), -1px 1px rgb(238,169,23),
  -2px 1px rgb(197,119,77), -2px 2px rgb(237,168,22),
  -3px 2px rgb(196,118,76), -3px 3px rgb(236,167,21),

  1px 0px rgb(198,120,78), 1px 1px rgb(238,169,23),
  2px 1px rgb(197,119,77), 2px 2px rgb(237,168,22),
  3px 2px rgb(196,118,76), 3px 3px rgb(236,167,21),

  -1px -0px rgb(198,120,78), -1px -1px rgb(238,169,23),
  -2px -1px rgb(197,119,77), -2px -2px rgb(237,168,22),
  -3px -2px rgb(196,118,76), -3px -3px rgb(236,167,21);

   /*  box-shadow: inset 0px 0px 6px 0px #f31cab91, 0px 0px 7px 6px #ff53b666;; */
    transition: all .5s cubic-bezier(0, 0, 0.01, 0.79);
}

.slick-arrow.slick-next {
    /*  background-color:rgb(5, 1, 1);
    right: 0; */
    min-width: 48px;
    max-width: 48px;
     min-height: 48px;
     max-height: 48px;
     padding: 1.5rem;
     border: 1px solid #99b0b7;
     border-radius: 50%;
     font-size: 0px;
     margin: 5px;
     background-color:#FFFFFF;
     cursor: pointer;
     background-image:url(/site2/images/icon/arrow-right.svg);
     background-repeat: no-repeat;
     background-position-x: center;
     background-position-y: center;
    
 }
 .slick-arrow.slick-next:hover{
    box-shadow:
    1px -0px rgb(231,95,136), 1px -1px rgb(212,33,128),
    2px -1px rgb(230,94,135), 2px -2px rgb(211,32,127),
    3px -2px rgb(229,93,134), 3px -3px rgb(210,31,126),
  
    -1px 0px rgb(198,120,78), -1px 1px rgb(238,169,23),
  -2px 1px rgb(197,119,77), -2px 2px rgb(237,168,22),
  -3px 2px rgb(196,118,76), -3px 3px rgb(236,167,21),

  1px 0px rgb(198,120,78), 1px 1px rgb(238,169,23),
  2px 1px rgb(197,119,77), 2px 2px rgb(237,168,22),
  3px 2px rgb(196,118,76), 3px 3px rgb(236,167,21),

  -1px -0px rgb(198,120,78), -1px -1px rgb(238,169,23),
  -2px -1px rgb(197,119,77), -2px -2px rgb(237,168,22),
  -3px -2px rgb(196,118,76), -3px -3px rgb(236,167,21);

   /*  box-shadow: inset 0px 0px 6px 0px #f31cab91, 0px 0px 7px 6px #ff53b666;; */
    transition: all .5s cubic-bezier(0, 0, 0.01, 0.79); 
 }
 
    


 .slick-arrow.slick-disabled {
    cursor:inherit;
    opacity: 0.2;
}
.slick-arrow.slick-disabled:hover {
    box-shadow:none;
}

    @media (min-width: 1200px){
        .slick-prev.slick-arrow {
            min-width: 56px;
            max-width: 56px;
            min-height: 56px;
            max-height: 56px;
        }
    
        .slick-arrow.slick-next{
            min-width: 56px;
            max-width: 56px;
            min-height: 56px;
            max-height: 56px;
        }
    }


.slider__item{
    /* transition: all 0.3s;
    opacity: 0.4; */
    text-align: center;
}

.slider__item.slick-center{
    /* opacity: 1; 
    чтобы работала нужно в js писать centerMode:true
    */
}




/* .slider .slick-track{
    display: block;
} */


.sliderbig{}

.sliderbig__item{
    text-align: center;
}


.integrations {
    max-height: 572px;
    padding: 64px 0px;
    overflow: hidden;
    background-image:url(/site2/images/bg/integrations-bg-mobile.png);
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}
/* @media (min-width:768px) {
    .integrations{
        background-image:url(/images/bg/integrations-bg.png);
        width: 100%;
    }
    
} */
@media (min-width:1100px) {
    .integrations{
        background-image:url(/site2/images/bg/integrations-bg.png);
        background-size: cover;
        max-width: 2200px;
        margin: 0 auto;
    }
    
}

.integrations__content {
    display: flex;
}
.integrations__item-1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 4rem);
}
.integrations__title{
    max-width: 387px;
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
    color: #013A4C;
    margin-bottom: 30px;
}
.integrations__text {
    font-size: 21px;
    line-height: 28px;
    color: #013A4C;
    max-width: 400px;
}
.integrations__button {
    background: #FFD063;
    border: 1px solid #FFD063;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #013A4C;
    padding: 15px 21px ;
    display: block;
    width: 197px;
    transition: all 0.6s ease;
}
.integrations__button:hover{
    box-shadow:inset 1px 1px 40px 10px #FFD063, 0px 0px 2px 0px #FFD063; 
    background: #ad0b77;
    color: #FFFFFF;

}
.integrations__item-paralax{

   
}
.integrations__item-2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: row;
    gap: 1.5rem;
}
.integrations__logos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 172px;
    background-color:#fff;
    border-radius:50%;
    padding: 50px;
    aspect-ratio: 1;
    transition: transform .2s ease;
}
.integrations__logos:hover{
    transform:scale(1.1)
}
.integrations__logos:nth-child(3n-1){
    transform: translateY(-50%);
}
.integrations__logos:nth-child(3n-1):hover{
    transform: translateY(-50%) scale(1.1);
}
.integrations__logo {
    width: 72px;
    height: 72px;
}


.blog {
    padding: 128px 0px ;
}

.blog__title-conten {
    display: flex;
    justify-content: space-between;

}
.blog__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #013A4C;
    margin: 0;
    margin-bottom: 24px;
}
.blog__button {
    height: 50px;
    width: 146px;
    background: #FFD063;
    border: 1px solid #FFD063;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 13px 1px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #013A4C;
    transition: all 0.3s;
}
.blog__button:hover{
    background: #fff;
    /*  box-shadow: 0px 0px 4px 0px rgb(153, 32, 201); */
    color: #013A4C; 
    box-shadow:
    1px -0px rgb(231,95,136), 1px -1px rgb(212,33,128),
    2px -1px 4px 0px rgb(230,94,135), 2px -2px rgb(211,32,127),
    -1px 0px rgb(198,120,78), -1px 1px rgb(238,169,23),
    -2px 1px 4px 0px rgb(197,119,77), -2px 2px rgb(237,168,22),
    1px 0px rgb(198,120,78), 1px 1px rgb(238,169,23),
    2px 1px 4px 0px rgb(197,119,77), 2px 2px rgb(237,168,22),
    -1px -0px rgb(198,120,78), -1px -1px rgb(238,169,23),
    -2px -1px 4px 0px rgb(197,119,77), -2px -2px rgb(237,168,22);
}

.swiper__item-slider {
    padding: 48px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.swiper-slider {
    position: relative;
    min-width: 356px;
}
.slider-card-position-0 {
    
}
.s-card__inner {
    background-color:#F2DCE4;
    display: flex;
    flex-direction: row-reverse;
    min-height: 477px;
    justify-content: flex-end;
    margin-bottom: 24px;
    border-radius: 8px;
    transition: all 0.25s;
}
.s-card__inner:hover{ 
    box-shadow:
    1px -0px rgb(231,95,136), 1px -1px rgb(212,33,128),
    2px -1px 7px 0px rgb(230,94,135), 2px -2px rgb(211,32,127),
    -1px 0px rgb(198,120,78), -1px 1px rgb(238,169,23),
    -2px 1px 7px 0px rgb(197,119,77), -2px 2px rgb(237,168,22),
    1px 0px rgb(198,120,78), 1px 1px rgb(238,169,23),
    2px 1px 7px 0px rgb(197,119,77), 2px 2px rgb(237,168,22),
    -1px -0px rgb(198,120,78), -1px -1px rgb(238,169,23),
    -2px -1px 7px 0px rgb(197,119,77), -2px -2px rgb(237,168,22);
}
.s-card__thumb {
    width: 50%;
    max-height: 100%;
    position: relative;
    margin-left: 64px;

}
.s-card__thumb img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform .4s ease-in-out;
    object-fit: cover;
}
.s-card__content {
    width: 50%;
    width: calc(50% - 4rem);
    padding: 3rem 2rem;
    
}
.s-card__taxonomy {
    background: #B73D8B;
    border-radius: 2px;
    font-size: 11px;
    line-height: 11px;
    color: #F2DCE4;
    width: 51px;
    padding: 5px 8px;
    
}
.s-card__heading {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.4px;
    color: #013A4C;
    
}
.s-card__footer {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    position: absolute;
    bottom: 40px;
    left: 24px;
}
.s-card__tag {
    font-size: 11px;
    line-height: 16px;
    color: #013A4C;
}
.s-card__reading-time {
    font-size: 10px;
    line-height: 16px;
    color: #013A4C;
}
.s-card__link {
    height: 95%;
    width: 1120px;
    display: inherit;
    margin: 0px 6px;
    position: absolute;
    z-index: 2;
}
.slider-card-position-1 {
    margin-right: 18px;
}
.s-card__inner-1 {
    min-width:356px;
    height: 444px;
    background: #013A4C;
    border-radius: 8px; 
    position: relative;
    margin-left: 24px;   
    margin: 0;
    transition: all 0.25s;
}
.s-card__inner-1:hover{ 
    box-shadow:
    1px -0px rgb(231,95,136), 1px -1px rgb(212,33,128),
    2px -1px 7px 0px rgb(230,94,135), 2px -2px rgb(211,32,127),
    -1px 0px rgb(198,120,78), -1px 1px rgb(238,169,23),
    -2px 1px 7px 0px rgb(197,119,77), -2px 2px rgb(237,168,22),
    1px 0px rgb(198,120,78), 1px 1px rgb(238,169,23),
    2px 1px 7px 0px rgb(197,119,77), 2px 2px rgb(237,168,22),
    -1px -0px rgb(198,120,78), -1px -1px rgb(238,169,23),
    -2px -1px 7px 0px rgb(197,119,77), -2px -2px rgb(237,168,22);
}
.s-card__thumb-1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    border-radius: 8px 8px 0 0;
}

.s-card__thumb-1 img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform .4s ease-in-out;
    object-fit: cover;
}
.s-card__content-1 {
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.s-card__taxonomy-1 {
    width: 47px;
    background: #F2DCE4;
    border-radius: 2px;
    padding: 5px 8px;
    font-size: 11px;
    line-height: 11px;
    color: #013A4C;
}
.s-card__heading-1 {
    width: 287px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 18px;
}
.s-card__footer-1 {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    position: absolute;
    bottom: 24px;
    left: 24px;
}
.s-card__tag-1 {
    font-size: 11px;
    line-height: 16px;
    color: #FFFFFF;
}
.s-card__reading-time-1 {
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
}

.s-card__link-1 {
    height: 444px;
    width: 350px;
    display: inherit;
    margin: 0px 6px;
    position: absolute;
    z-index: 2;
}
.slider-card-position-2 {
    margin-right: 18px;
}
.s-card__inner-2 {
    min-width:356px;
    height: 444px;
    background: #0F5987;
    border-radius: 8px;
    transition: all 0.25s;
}
.s-card__inner-2:hover{ 
    box-shadow:
    1px -0px rgb(231,95,136), 1px -1px rgb(212,33,128),
    2px -1px 7px 0px rgb(230,94,135), 2px -2px rgb(211,32,127),
    -1px 0px rgb(198,120,78), -1px 1px rgb(238,169,23),
    -2px 1px 7px 0px rgb(197,119,77), -2px 2px rgb(237,168,22),
    1px 0px rgb(198,120,78), 1px 1px rgb(238,169,23),
    2px 1px 7px 0px rgb(197,119,77), 2px 2px rgb(237,168,22),
    -1px -0px rgb(198,120,78), -1px -1px rgb(238,169,23),
    -2px -1px 7px 0px rgb(197,119,77), -2px -2px rgb(237,168,22);
}
.s-card__content-2 {
    padding-top: 24px;
    padding-bottom: 88px;
}
.s-card__taxonomy-2 {
    width: 104px;
    padding: 5px 8px;
    background: #187BB7;
    border-radius: 2px;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}
.s-card__title-2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin: 110px 0px;
}
.s-card__buttons {
    width: 135px;
    width: auto;
    margin: 0 auto;
    text-align: -webkit-center;
}
.s-card__button {
    width: 135px;
    background: #0F5987;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 11px 17px;
}
.s-card__link-2 {
    height: 100%;
    width: 350px;
    display: inherit;
    margin: 0px 6px;
    position: absolute;
    z-index: 2;
}
.slider-card-position-3 {
}
.s-card__inner-3 {
    min-width:356px;
    height: 444px;
    background: #F2DCE4;
    border-radius: 8px; 
    position: relative;
    margin-left: 24px;   
    margin: 0;
    transition: all 0.25s;
}
.s-card__inner-3:hover{ 
    box-shadow:
    1px -0px rgb(231,95,136), 1px -1px rgb(212,33,128),
    2px -1px 7px 0px rgb(230,94,135), 2px -2px rgb(211,32,127),
    -1px 0px rgb(198,120,78), -1px 1px rgb(238,169,23),
    -2px 1px 7px 0px rgb(197,119,77), -2px 2px rgb(237,168,22),
    1px 0px rgb(198,120,78), 1px 1px rgb(238,169,23),
    2px 1px 7px 0px rgb(197,119,77), 2px 2px rgb(237,168,22),
    -1px -0px rgb(198,120,78), -1px -1px rgb(238,169,23),
    -2px -1px 7px 0px rgb(197,119,77), -2px -2px rgb(237,168,22);
}
.s-card__thumb-3 {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    border-radius: 8px 8px 0 0;
}

.s-card__thumb-3 img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform .4s ease-in-out;
    object-fit: cover;
}
.s-card__taxonomy-3 {
    width: 47px;
    background: #B73D8B;
    border-radius: 2px;
    padding: 5px 8px;
    font-size: 11px;
    line-height: 11px;
    color: #013A4C;
}
.s-card__heading-3 {
    width: 287px;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #013A4C;
    margin: 0;
    margin-top: 18px;
}
.s-card__footer-3 {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    position: absolute;
    bottom: 24px;
    left: 24px;
}
.s-card__tag-3 {
    font-size: 11px;
    line-height: 16px;
    color: #013A4C;
}
.s-card__reading-time-3 {
    font-size: 10px;
    line-height: 16px;
    color: #013A4C;
}
.s-card__link-3 {
    height: 100%;
    width: 350px;
    display: inherit;
    margin: 0px 6px;
    position: absolute;
    z-index: 2;
}


.feature {
    padding: 128px 0px;
    overflow: hidden;
    background-image:url(/site2/images/bg/feature-bg-mobile.png.png);
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}
@media (min-width:768px) {
    .feature{
        background-image:url(/site2/images/bg/feature-bg.png);
        padding: 64px 0px;
    }
    
}
.feature__title {
    font-size: 48px;
    line-height: 54px;
    color: #013A4C;
    margin: 0;
    margin-bottom: 48px;
}
.feature__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.feature__column {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.feature__link{
    position: absolute;
    height: 100%;
    width: 100%;
}
.feature__img {
    width: 100%;
}
.feature__subheading {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #013A4C;
    place-self: center;
    margin: 18px 0px;
}
.feature__heading {
    max-width: 480px;
    font-size: 31px;
    line-height: 40px;
    text-align: center;
    color: #013A4C;
    place-self: center;
    margin: 0;
    margin-bottom: 22px;
}
.feature__button {
    width: 160px;
    background: #FFD063;
    border: 1px solid #FFD063;
    padding: 15px 21px;
   /*  box-sizing: border-box; */
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #013A4C;
    place-self: center;
    z-index: 2;
    transition: all 0.3s;
    margin-bottom: 16px;
}
.feature__button:hover{
    background: #fff;
    /*  box-shadow: 0px 0px 4px 0px rgb(153, 32, 201); */
    color: #013A4C; 
    box-shadow:
    1px -0px rgb(231,95,136), 1px -1px rgb(212,33,128),
    2px -1px 4px 0px rgb(230,94,135), 2px -2px rgb(211,32,127),
    -1px 0px rgb(198,120,78), -1px 1px rgb(238,169,23),
    -2px 1px 4px 0px rgb(197,119,77), -2px 2px rgb(237,168,22),
    1px 0px rgb(198,120,78), 1px 1px rgb(238,169,23),
    2px 1px 4px 0px rgb(197,119,77), 2px 2px rgb(237,168,22),
    -1px -0px rgb(198,120,78), -1px -1px rgb(238,169,23),
    -2px -1px 4px 0px rgb(197,119,77), -2px -2px rgb(237,168,22);
}



.footer {
    background: #013A4C;
    color: #FFFFFF;
    padding: 64px 0;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 64px;
}
.footer__cloumn-logo {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    width: 296px;
    padding-right: 24px;
    justify-content: space-between;
}
.footer__logo {
    width: 140px;
    height: 30px;

}
.footer__logo-link svg{
    margin-bottom: 44px;
}

.footer__site-adress {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.tel {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.phone {
}
.footer__social {
}
.social-nav {
    display: flex;
}
.social__item-link {
    margin-right: 24px;
    height: 40px;
}
.social__item-link svg path{
    fill: #678994;
    transition: fill .2s linear;
} 
.social__item-link svg path:hover{
    fill: #ffffff;
} 
.footer__column {
}
.footer__nav {
}
.footer-menu__wrapper {
}
.footer-menu__menu {
    margin: 0;
    padding: inherit;
}
.footer-menu__item {
    font-size: 16px;
    line-height: 20px;
    color: #99B0B7;
    margin-bottom: 10px;
}
.footer-menu__item:hover{
text-decoration: underline;
}
.footer-menu__item-top{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    pointer-events: none;
    cursor: default;
    margin-bottom: 10px;
}
.footer-menu__item-top:hover{
    text-decoration: none;
}
.footer-menu__item-more{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.footer-menu__item-more:hover{
    text-decoration: underline;
}
.footer-menu__item-link {
}
.footer__promo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    place-items: flex-end;
    border-top: 1px solid #346170;
    padding: 48px 0 80px 0; ;
}
.footer__promo__content {
    max-width: 367px;
    margin-right: 49px;
}
.footer__promo__heading {
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 11px;
}
.footer__promo__copy {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.footer__promo__button {
    height: 100%;
    width: 153px;
    padding: 11px 17px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #013A4C;
    background: #FFD063;
    border: 1px solid #FFD063;
    box-sizing: border-box;
    border-radius: 4px;
    transition: all 0.3s;
}
.footer__promo__button:hover{
    box-shadow:
    1px -0px rgb(231,95,136), 1px -1px rgb(212,33,128),
    2px -1px 4px 0px rgb(230,94,135), 2px -2px rgb(211,32,127),
    -1px 0px rgb(198,120,78), -1px 1px rgb(238,169,23),
    -2px 1px 4px 0px rgb(197,119,77), -2px 2px rgb(237,168,22),
    1px 0px rgb(198,120,78), 1px 1px rgb(238,169,23),
    2px 1px 4px 0px rgb(197,119,77), 2px 2px rgb(237,168,22),
    -1px -0px rgb(198,120,78), -1px -1px rgb(238,169,23),
    -2px -1px 4px 0px rgb(197,119,77), -2px -2px rgb(237,168,22);
}
.footer__promo-link {
}
.footer__bottom {
    border-top: 1px solid #346170;
}
.footer__bottom__nav {
    margin: 0;
    padding-top: 16px;
    padding-left: 0;
    display: flex;
}
.bottom__menu__item {
    margin: 0 32px 8px 0;
}
.menu__item-link {
    font-size: 14px;
    line-height: 18px;
    color: #99B0B7;
}
.menu__item-link:first-child {
    font-size: 13px;
    line-height: 18px;
    color: #99B0B7;
}

@media (max-width:1440px) {
    .section__slider{
        padding: 96px 0px;
    }
    .slider__title {
        transform: translate(300px, 0px);
    }
}
@media (max-width:1200px) {
    .swiper__item-slider {
        flex-wrap: nowrap;
    }
    .slider-card-position-0 {
        margin-right: 18px;
        width: 356px;
        height: 460px;
    }
    .s-card__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-width: 356px;
        height: 444px;
        min-height: 400px;
        border-radius: 8px;
        position: relative;
        margin-left: 24px;
        margin: 0;
    }
    .s-card__content {
        width: 100%;
        padding: 1rem 1rem;
    }
    .s-card__heading {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.4px;
        color: #013A4C;
        margin: 0;
        margin-top: 18px;
    }
    .s-card__thumb {
        place-self: center;
        width: 243px;
        height: 200px;
        margin-left: 0px;
    }
    .s-card__thumb img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: transform .4s ease-in-out;
        object-fit: cover;
    }
    .s-card__footer {
        bottom: 24px;
    }
    .s-card__link {
        height: 95%;
        width: 97%;
    }

    .feature__inner{
        flex-wrap: wrap;
    }
    ._anim-show-1._active, ._active ._anim-show-1 {
        padding-bottom: 100px;
    }
    .slider-card-position-1 {
        height: 460px;
    }
    .slider-card-position-2 {
        height: 460px;
    }
    .slider-card-position-3 {
        height: 460px;
    }
}
@media (max-width:1142px) {
    .feature__inner{
        justify-content: center;
    }
}



@media (max-width:1100px) {
    .top{
        height: 1200px;
    }
    .header {
        padding: 0px 24px;
    }
    .contracts__inner{
        text-align: -webkit-center;
    }
    .contracts__title-1{
        margin-top: 0;
        max-width: 695px;
    }
    .tabs-trigger {
        padding: 0px 40px 0px 40px;
    }
    .integrations__content{
        flex-direction: column;
    }
    .integrations{
        max-height: 1070px;
    }
    .integrations__item-1{
        margin-bottom: 80px;

    }
    .integrations__item-2{
        margin-bottom: -32px;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-auto-flow: column;
    }
    .integrations__logos:nth-child(3n-1){
        transform: translate(-50%);
    }
    .integrations__logos:nth-child(3n-1):hover{
        transform: translate(-50%) scale(1.1);
    }
    .section__slider {
        height: 930px;
    }
    
    .blog {
        padding: 124px 0px;
        padding-bottom: 24px;
    }
    .logo {
    }
    .logo__link {
    }
    .logo__img {
    }
    .header__inner {
    }
    .menu__icon {
    }
    .menu__body {
    }
    .menu__list {
    }
    .menu__item {
        
    }
    
    .menu__link {
    }
    .header__link-demo {
    }
    .link-demo {
    }
    .header__link-login {
    }
    .link-login {
    }
    .slider__title {
        transform: translate(200px, 0px);
    }
    .footer__top{
        flex-wrap: wrap;
    }
    .footer__column {
        margin-bottom: 25px;
        padding-right: 30px;
    }
    
    .footer__cloumn-logo{
        /* width: 100%;
        margin-top: 64px; */
        margin-bottom: 25px;
    }
    
}

@media (max-width:900px) {
    .header:hover{
        background:#FFFFFF;
        box-shadow: none;
    }
    .header::before{
        content: '';
        background-color: #ffffff;
        width: 100%;
        z-index: 10;
        height: 100%;
        position: absolute;
        margin: 0;
        left: 0px;
        opacity: 0;
        
    }
    .header._active::before{
        content: '';
        background-color: #ffffff;
        width: 100%;
        z-index: 10;
        height: 100%;
        position: absolute;
        margin: 0;
        left: 0px;
        opacity: 1;
        transition: opacity 2s;
    }
    .menu__icon{
        z-index: 10;
        display: block;
        position: relative;
        width: 34px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 2px;
        width: 32px;
        transition: all 0.3s ease 0s;
        background-color: #013A4C;
        
    }
    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span{
        top: 50%;
        transform: scale(1) translate(0px,-50%);
    }
    
    .menu__icon._active span{
        transform: scale(0) translate(0px,-50%);
    }
    
    .menu__icon._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu__icon._active::after{
        top: 50%;
        transform: rotate(45deg) translate(0px, -50%);
    }
    
    .menu__body{
        position: fixed;
        top:0px;
        left: 0;
        width: 100%;
    height: 70%;
    background-color: #ffffff;
    padding: 60px 0px 48px 0px;
    transform: translateY(-120%);
    transition: transform 0.3s ease ;
    overflow: auto;
}
.menu__body._active{
    width: 100%;
    height: 95%;
    top: 0;
    left: 0;
    transform: translateY(0%);
}

.menu__item{
    border-bottom: 1px solid #d6dfe2;
    padding: 16px 1px;
}

.menu__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    max-width: 452px;
    margin: 0 auto;
    padding:0px 24px 10px ;
    margin-bottom: 32px;
    opacity: 0;
}
.menu__list._active{
    opacity: 1;
}
.menu__mobile-buttons{
    display: flex;
    place-content: center;
    padding: 0 24px;
}
.header__link-demo-mobile._active{
    display: flex;
    margin: 0px 4px 0px 0px;
}
.header__link-login-mobile._active{
    display: flex;
    margin: 0px  0px 0px 4px;
}
.top__content{
    padding-top: 80px;
}
.header__title{
    font-size: 65px;
    line-height: 65px;
}
.top{
    background-image: url('/site2/images/bg/top-bg-mobile.jpg');
    background-position-y: 82% ;
    height: 970px;
    

}
.tabs-trigger {
    padding: 0px 10px 0px 10px;
}

.companies__inner {
    padding-bottom: 64px;
}
.slider__title {
    transform: translate(70px, 0px);
}
.section__slider {
    height: 880px;
}
.feature {
    padding: 64px 0px;
}
.footer__cloumn-logo {
    width: 100%;
}
.footer__logo {
    margin-bottom: 15px;
}
.footer__adress{
    margin-bottom: 20px;
}

}

@media (max-width:768px) {
    .top{
        background-position-y: 99%;
        height: 970px;
    }
    .header__title{
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 12px;
    }
    .header__text{
        margin-top: 0;
    }
    .contracts__title-1{
        font-size: 50px;
        line-height: 50px;
        padding-top: 515px;
    }
    .smart__contracts-img{
        position: absolute;
        top:0;
    }
    .contracts__content{
        margin: 0px 24px;
    }
    ._anim-show._active, ._active ._anim-show {
        opacity: 1;
        transform: translate(0px, 0px);
        height: 1020px;
    }
    .tabs__bg{
        place-self: flex-end;
        margin: 17px -32px 0px 0px;
    }
    .tabs-triggers {
        overflow-x: scroll;
    }
    .tabs-content__item--active {
        display: flex;
        transform: translateY(0px);
        opacity: 1;
        flex-direction: column;
    }
    .tabs-triggers__item::before{
        display: none;
    }
    .tabs-content__item {
        padding: 1rem 2rem;
    }
    .complete{
        background-color: #f2dce4;
        background-size: contain;
        background-position: 100% 100%;
        background-repeat: no-repeat
    }
    .complete__item{
        max-width: 100%;
    }
    .complete__item-l{
        max-width: 100%;
    }
    .complete__title {
        font-size: 77px;
        font-size: 36px;
        font-weight: 500;
        line-height: 38px;
    }
    .copmlete__text {
        max-width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
    .complete__content {
         align-items: normal;
    }
    .believe__content {
        width: auto;
        padding: 96px 24px 0px 24px;
    }
    .believe__title{
        font-size: 36px;
        font-weight: 600;
        line-height: 38px;
        margin-bottom: 16px;
        margin-top: 0;
    }
    .believe__text{
        min-width: 100%;
        margin-top: 0;
    }
    .section__slider{
        padding: 64px 0px;
    }
    .slider__title{
        font-size: 30px;
        transform: translate(0px, 0px);
    }
    .integrations__logos {
        width: 100px;
        height: 100px;
        padding: 50px;
    }
    .integrations__logo {
        width: 35px;
        height: 35px;
    }
    .integrations__title{
    font-size: 34px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 16px;
    max-width: 580px;
    }
    .integrations__text {
        font-size: 18px;
        line-height: 24px;
        max-width: 580px;
    }
    .blog__title{
        font-size: 32px;
        line-height: 39px;
    }
    .section__slider {
        height: 850px;
    }
    .feature__heading {
        max-width: 480px;
        font-size: 27px;
    }
    .feature__title{
        font-size: 30px;
        line-height: 34px;
    }
    .footer__column{
        padding-right: 145px;
    }
    .footer-menu__item {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 22px;
    }
    .footer-menu__item-more{
        margin-bottom: 22px;
    }
    .blog__title-conten{
        flex-direction: column;
    }
    .blog__button{
        place-self: flex-end;
    }
}


@media (max-width:600px) {
.top__btn{
    flex-direction: column;
    align-items: center;
}
.top__btn-1{
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
}
.top__btn-2{
    width: 100%;
}
.believe__content{
    display: flex;
    flex-direction: column;
}
.integrations__logos {
    width: 83px;
    height: 83px;
    padding: 40px;
}
.footer__top {
    justify-content: flex-start;
}
.footer__promo{
    display: flex;
    flex-direction: column;
    place-items: baseline;
}
.footer__promo__content{
    margin-right: 0;
}
.footer__promo__button{
    width: 100%;
    margin-top: 32px;
}
.footer__column{
    padding-right: 75px;
}

}


@media (max-width:452px) {
    .header__link-demo{
        display: none;
    }
    .header__link-login{
        display: none;
    }
    .contracts__title-1{
    padding-top: 415px;
    }
    .slider__item {
        width: 290px;
    }
    .slider__item:hover {
        transform: scale(1.0);
    }
    .slider__content {
        padding: 44px 25px 44px 25px;;
    }
    .slider__text {
        font-size: 16px;
        margin-bottom: 11px;
    }
    .slider__span {
        font-size: 13px;
    }
    .slider__content-1 {
        margin-bottom: 70px;
    }
    .slider__content-2 {
        justify-content: center;
    }
    .footer__column{
        padding-right: 0px;
    }
    .footer__column:nth-child(2){
        padding-right: 24px;
        padding-left:0px;;
    }
    .footer__column:nth-child(4){
        padding-right: 24px;
        padding-left:0px;
    }
}


@media (max-width:382px) {
    .slider-card-position-0 {
        width: 300px;
    }
    .s-card__link {
        height: 99%;
        width: 96%;
    }
    .slick-list {
        padding: 0px;
    }
    .s-card__inner {
        width: 300px;
        min-width: 300px;
    }
    .s-card__content {
        width: 100%;
        align-self: center;
    }
    .s-card__footer {
        left: 17px;
        bottom: 24px;
    }
    .s-card__inner-1{
        min-width: 300px;
        width: 300px; 
    }
    .s-card__link-1 {
        width: 293px;
    }
    .s-card__content-1 {
        padding: 9px;
        padding-left: 16px;
    }
    .s-card__footer-1{
        left: 17px;
    }
    .s-card__link-2 {
        width: 293px;
    }
    .s-card__inner-2{
        width: 300px;
        min-width: 300px;
    }
    .s-card__link-3 {
        width: 293px;
    }
    .s-card__inner-3{
        width: 300px;
        min-width: 300px;
    }
    .s-card__heading-3{
        max-width: 274px;

    }
}

@media (max-width:370px) {
    .contracts__title-1{
        padding-top: 329px;
    }
    .header__title {
        font-size: 41px;
        line-height: 42px;
    }
    ._anim-show._active, ._active ._anim-show {
        height: 900px;
    }
    
}








/* @media screen and (min-width:1000px) and (max-width:1768px) {
 .top{
    width: calc(var(--userWidth) + 20px);
 }
} */







